body {
    background-color: #212425;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    margin-top: 20px;
}

main {
    background-color: #212425;
    color: orange;
    accent-color: grey;
    min-height: 82vh;
}

.edit {
    text-align: center;
    width: 30%;
    margin-left: 35%;
}

.user-info {
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.user-info img {
    width: 15%;
}

.user-info a {
    margin-top: 15px;
}

.orange {
    color: orange;
}

.centre {
    text-align: center;
}

.dropdown-text {
    color: orange;
    accent-color: grey;
}

.OW2Logo {
    width: 25%;
    margin-left: 37.5%;
}

.my-btn {
    margin-left: 7vw;
}

.btn-img {
    height: 45vh;
    width: 23vw;
}

.btn-div {
    margin-top: 20px;
}

.register {
    width: 30%;
    margin-left: 35%;
}

.register_form {
    text-align: center;
    margin-top: 50px;
    color: orange;
}

.ya-logo {
    color: #6c757d;
    text-decoration: none;
}

.ya-logo:hover {
    color: #6c757d;
}
