body {
    background-color: #212425;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    margin-top: 20px;
}

main {
    background-color: #212425;
    color: orange;
    accent-color: grey;
    min-height: 82vh;
}

.centre-div {
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
    text-align: center;
}

.aud {
    margin-top: 40px;
}

.hero-card {
    color: orange;
}

.role-div {
    margin-left: 25px;
}

.user-image {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.user-info {
    text-align: center;
    width: 60%;
    margin-left: 20%;
}

.user-info img {
    width: 15%;
}

.user-info a {
    margin-top: 15px;
}

.dropdown-text {
    color: orange;
    accent-color: grey;
}

.OW2Logo {
    width: 25%;
    margin-left: 37.5%;
}

.btn-img {
    height: 45vh;
    width: 23vw;
}

.btn-div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.ya-logo {
    color: #6c757d;
    text-decoration: none;
}

.ya-logo:hover {
    color: #6c757d;
}
