{% extends "base.html" %}

{% block import %}
<title>Editting Account</title>
{% endblock %}

{% block content %}
<form class="centre-div" action="" method="post" enctype="multipart/form-data">
    <h1>Editting {{ current_user.nickname }}'s account</h1>
    {{ form.hidden_tag() }}
    {{ form.id(value=current_user.id, type="hidden") }}
    <p>
        {{ form.nickname.label }}<br>
        {{ form.nickname(class="form-control bg-dark", style="color: orange;", value=current_user.nickname) }}<br>
        {% for error in form.nickname.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control bg-dark", style="color: orange;", type="email", value=current_user.email) }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.battle_tag.label }}<br>
        {{ form.battle_tag(class="form-control bg-dark", style="color: orange;", value=current_user.battle_tag) }}<br>
        {% for error in form.battle_tag.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.current_password.label }}<br>
        {{ form.current_password(class="form-control bg-dark", style="color: orange;", type="password") }}<br>
        {% for error in form.current_password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(class="form-control bg-dark", style="color: orange;", type="password") }}<br>
        {% for error in form.new_password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>
            {{ form.avatar.label(class="form-label", for="formFile") }}
            {{ form.avatar(class="form-control", class="bg-dark", accept="image/png, image/jpeg") }}
            {% for error in form.avatar.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
    <p>{{ form.submit(type="submit", class="btn", style="background-color: orange;") }}</p>
    {% if message %}
        <p class="alert alert-danger" role="alert">{{message}}</p>
    {% endif %}
</form>
{% endblock %}