{% extends "base.html" %}

{% block import %}
    <title>{{ name }}</title>
{% endblock %}

{% block content %}
    <div class="hero-info">
         <h1 style="text-align: center">{{ name }}</h1>
         <p>Real Name: {{ hero[1] }}</p>
         <p>Age: {{ hero[2] }}</p>
         <p>Nationality: {{ hero[3] }}</p>
         <p>Abilities: </p>
         {% for key in hero[4].keys() %}
            {% set abil = hero[4][key] %}
            <p>{{ key.upper() }}: {{ abil[0]}} - {{abil[1]}} DMG, {{abil[2]}} HEAL, {{abil[3]}} duration,
                {{abil[4]}} cooldown</p>
         {% endfor %}
        <a class="btn" style="background: orange" type="button" href="{{ hero[5] }}">Official Info</a>
    </div>
{% endblock %}