{% extends "base.html" %}

{% block import %}
<title>Quiz - Choose your guess</title>
{% endblock %}

{% block content %}
    <div class="btn-div" style="margin-top: 10%">
        <a class="hero-card btn btn-dark" type="button" href="#">
            <img class="btn-img" src="../static/img/music.png" alt="">
            <p style="font-size: 40px">Soundtrack</p>
        </a>
        <a class="hero-card btn btn-dark" type="button" href="#">
            <img class="btn-img" src="../static/img/copy.png" alt="">
            <p style="font-size: 40px">Photos</p>
        </a>
    </div>
{% endblock %}
