{% extends "base.html" %}

{% block import %}
<title>Wiki - Main Page</title>
{% endblock %}

{% block content %}
<div class="role-div">
    <h1>Tanks</h1>
    {% for hero in heroes['tank'].keys() %}
        <a class="hero-card btn btn-dark" type="button" href="/wiki/{{ hero }}">
            <img src="{{ heroes['tank'][hero][0] }}" width="200" height="200" alt="{{ hero }}">
            <p style="font-size: 24px">{{ hero }}</p>
        </a>
    {% endfor %}
    <br>
</div>
<div class="role-div">
    <h1>Damage</h1>
    {% for hero in heroes['damage'].keys() %}
        <a class="hero-card btn btn-dark" type="button" href="/wiki/{{ hero }}">
            <img src="{{ heroes['damage'][hero][0] }}" width="200" height="200" alt="{{ hero }}">
            <p style="font-size: 24px">{{ hero }}</p>
        </a>
    {% endfor %}
    <br>
</div>
<div class="role-div">
    <h1>Support</h1>
    {% for hero in heroes['support'].keys() %}
        <a class="hero-card btn btn-dark" type="button" href="/wiki/{{ hero }}">
            <img src="{{ heroes['support'][hero][0] }}" width="200" height="200" alt="{{ hero }}">
            <p style="font-size: 24px">{{ hero }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}
